* {
  margin: 0;
  padding: 0;
}
body {
  background-color: grey;
}
.container {
  width: 960px;
  margin: 0 auto;
  background-color: white;
}
/* Header */
header {
  height: 150px;
  position: relative;
  width: 90%;
  border-bottom: 2px solid black;
  margin: 0 auto;
}
.name {
  position: absolute;
  bottom: 45px;
  left: 10px;
  font-size: 54px;
}
.contact-info {
  position: absolute;
  bottom: 45px;
  right: 10px;
}
.header {
  background-color: grey;
}
/* Objectives/Goals */
.objectives-goals {
  width: 90%;
  height: 280px;
  border-bottom: 2px solid black;
  margin: 0 auto;
}
.list-of-objectives-goals {
  list-style: none;
}
.objective {
  text-align: center;
  padding: 10px;
}
.section-heading {
  text-align: center;
  padding: 10px;
}
/* Education/Skills */
.education-skills {
  width: 90%;
  height: 240px;
  border-bottom: 2px solid black;
  margin: 0 auto;
}
.education {
  float: left;
  width: 48%;
}
.education-header {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.skills {
  float: left;
  width: 48%;
}
.skills-list {
  padding-left: 60px;
}
